# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
csv_file = os.path.join('..', 'WeatherPy', 'output_data', 'city_weather.csv')

city_df = pd.read_csv(csv_file)
city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Kot Kapūra,1,IN,1615717434,11,30.5833,74.9000,93.79,6.93
1,Fortuna,100,US,1615717434,79,40.5982,-124.1573,46.00,1.01
2,Severo-Kuril'sk,30,RU,1615717434,86,50.6789,156.1250,28.17,9.84
3,George Town,20,MY,1615717434,58,5.4112,100.3354,91.00,8.05
4,Lebu,0,CL,1615717435,81,-37.6167,-73.6500,55.11,1.34
...,...,...,...,...,...,...,...,...,...
558,Camacha,75,PT,1615717590,67,33.0833,-16.3333,60.80,13.80
559,Lazarev,9,RU,1615717590,88,52.2250,141.5131,28.67,14.85
560,Northborough,0,US,1615717590,53,42.3195,-71.6412,34.00,9.46
561,Moose Factory,90,CA,1615717590,71,51.2585,-80.6094,1.40,12.66
562,La Crosse,1,US,1615717590,86,43.8014,-91.2396,37.40,3.44

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=gkey)

In [12]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
#CRITERIA: A max temperature lower than 80 degrees but higher than 70. 
# Wind speed less than 10 mph.
# Zero cloudiness.

Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

narrowed_city_df = city_df.loc[(city_df["Max Temp"] > 70) & (city_df["Max Temp"] < 80) & (city_df["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Busselton,0,AU,1615717436,44,-33.6500,115.3333,73.99,1.01
1,Pochutla,0,MX,1615717446,73,15.7432,-96.4661,75.00,2.35
2,Taoudenni,0,ML,1615717464,26,22.6783,-3.9836,79.59,15.52
3,São Filipe,0,CV,1615717469,64,14.8961,-24.4956,72.63,3.94
4,Vila Velha,0,BR,1615717479,88,-20.3297,-40.2925,72.00,2.30

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure